<div class="hero-unit">
  <h1>OUR MISSION IS TO PROVIDE EDUCATIONAL OPPORTUNITIES TO CHILDREN IN IMPOVERISHED COMMUNITIES AROUND THE WORLD, THROUGH THE POWER OF ART.</h1>
  <p></p>
  <p>
    <a class="btn btn-inverse btn-large">
      How You Can Help
    </a>
  </p>
</div>